<!DOCTYPE html>
<html>
<head>
  <title>Moje przepisy</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <style>
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh;
    }
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #eff1f3;
    }
    .carousel {
      height: 100%;
    }
    .carousel-inner {
      height: 100%;
    }
    .carousel-item {
      height: 100%;
    }
    .carousel-item img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  </style>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(209, 5, 5);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">KuchnioMix</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
       </div>
    </div>
  </nav>

  <div class="container">
    <h1>Moje przepisy</h1>
    
    <% if (recipes.length > 0) { %>
      <table class="table">
        <thead>
          <tr>
            <th>Nazwa</th>
            <th>Akcje</th>
          </tr>
        </thead>
        <tbody>
          <% recipes.forEach((recipe) => { %>
            <tr>
              <td><%= recipe.nazwa %></td>
              <td>
                <a href="/recipe/<%= recipe.id %>/json" class="btn btn-primary">Pobierz JSON</a>
                <a href="/editRecipe/<%= recipe.id %>" class="btn btn-primary">Edytuj przepis</a>
                <a href="/editRecipe/deleteRecipe/<%= recipe.id %>" class="btn btn-primary">Usun przepis</a>
                <a href="/displayRecipe/<%= recipe.id %>" class="btn  btn-primary">Rozpocznij gotowanie</a>
              </td>

            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <p>Brak przepisów do wyświetlenia.</p>
    <% } %>

  </div>

</body>
</html>
